In [1]:
import psycopg2
from psycopg2 import Error
import pandas as pd
import random
import datetime
from datetime import timedelta
import string
import numpy as np

def random_date1(start_date, end_date):
    random_date = start_date + datetime.timedelta(days=random.randint(0, (end_date - start_date).days))
    return random_date

# количество записей
male = 736 * ['М']
female = 937 * ['Ж']
gender = male + female
P = 300 #количество человек
#создаем список имен
namedf = pd.read_csv('name.csv', usecols = ['name'])
namedf.insert(loc = 1, column = 'gender', value = gender)

#создаем список фамилий
surnamedf = pd.read_csv('surname.csv', usecols = ['surname'])
surname = surnamedf['surname']
#создаем паспорта
passport = [(str(random.randint(1000, 9999)) + " " + str(random.randint(100000, 999999))) for i in range(P)]
#создаем список номеров телефонов
phone = ['89' + str(random.randint(0,999999999)) for i in range(P)]
#создаем список номеров паролей
password = [str(random.randint(10000000, 10000000000000)) for i in range(P)]
#создаем список номеров льгот
fees = [random.choice(['TRUE', 'FALSE']) for i in range(P)]
#создаем список дат рождения
start_date = datetime.date(1900, 1, 1)
end_date = datetime.date(2023, 1, 1)
def random_date(start_date, end_date):
    random_date = start_date + datetime.timedelta(days=random.randint(0, (end_date - start_date).days))
    date = f"'{random_date.strftime('%Y-%m-%d')}'"
    return date

born_date = [random_date(start_date, end_date) for i in range(P)]
    
#создаем список email

email = []
def random_string(length):
    letters = string.ascii_lowercase
    rand_string = ''.join(random.choice(letters) for i in range(length))
    return rand_string
em = ['yandex.ru', 'gmail.ru', 'mail.ru']
for i in range(P):
    email.append(random_string(8) + '@' + random.choice(em))
    
#создаем списко логинов
login = [random_string(8) for i in range(P)]

try:
    connection = psycopg2.connect(user="azonchic",
                                  # пароль, который указали при установке PostgreSQL
                                  password="rgdbaza",
                                  host="127.0.0.1",
                                  port="5432",
                                  database="rgd")
    cursor = connection.cursor()


except (Exception, Error) as error:
    print("Ошибка при подключении PostgreSQL", error)
try:
    
    
    for i in range(P):
        num = str(i + 1)
        # выбираем случайное имя и фамилию
        k = random.randint(0, len(namedf) - 1)
        name = namedf.iloc[k]
        n = random.randint(0, len(surname) - 1)
        gender = namedf.iat[k,1]
        insert_query = """INSERT INTO Passenger (id, name, surname, 
                passport, phone_number, 
                password, fees, born_date, 
                email, gender, login) VALUES (%s, %s, %s, %s,
                  %s, %s,
                  %s, %s, %s,
                  %s, %s)"""
        cursor.execute(insert_query, (i + 1, name[0], surname.iloc[n] + '(a)', passport[i],
                        phone[i], password[i], fees[i], born_date[i], email[i],
                                     gender, login[i]))
        connection.commit()
    # Выполнение команды: это создает новую таблицу
except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)


N = 200 #количество поездов
# задаем название таблицы
# table_name = 'Train'
# # задаем столбцы таблицы
# column_names = ('id', 'train_number', 'train_type', 'loc_model')
# #создаем список номеров
number = [str(random.randint(100, 999)) + random_string(2) for i in range(N)]
#создаем типы поездов
train_type = ['скоростной', 'высокоскоростной', 'фирменный']
#создаем список моделей локомотивов
loc_model = 'пассажирский'
# генерация и запись DML-скрипта в файл
numvan = [random.randint(3,8) for i in range(N)] #количество вагонов в каждом поезде
vanid = np.arange(1, sum(numvan) + 1, 1) # id для вагонов
vantype = [] # тип вагона
try:
    for i in range(N):
        insert_query = """INSERT INTO Train (id, train_number, train_type, 
                loc_model) VALUES (%s, %s, %s, %s)"""
        cursor.execute(insert_query, (i + 1, number[i], random.choice(train_type), 
                                     loc_model))
        connection.commit()

    # Выполнение команды: это создает новую таблицу
except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
    
        
try:
    
    
    
    van_type = ['сидячий', 'плацкарт', 'купе']
    intrain = 'TRUE'
    id1 = 0
    for i in range(N):
        k = 0
        while k != numvan[i]:
            van_type1 = random.choice(van_type)
            vantype.append(van_type1)
            insert_query = """INSERT INTO Van (id, van_type, issue_year, vannumber,
            intrain, train_id) VALUES (%s, %s, %s, %s, %s,
                  %s)"""
            cursor.execute(insert_query, (id1 + 1, van_type1,
                    random_date(datetime.date(1970, 1, 1),datetime.date(2023, 1, 1)),
                      k+1, intrain, i+1))
            connection.commit()
            id1 += 1
            k += 1
            
except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
    
        
try:
    
    
    underwearlst = ['TRUE', 'FALSE']
    numplace = [random.randint(10, 20) for i in range(len(vantype))] #количество мест в каждом вагоне
    id1 = 0
    for i in range(len(vantype)):
        c = 0
        place_type = vantype[i]
        if place_type == 'сидячий':
            underwear = underwearlst[1]
        else:
            underwear = underwearlst[0]
        while c != numplace[i]:
            insert_query = """ INSERT INTO Place (id, place_type, 
            underwear, place_number, van_id) VALUES (%s, %s, %s, %s, %s)"""
            cursor.execute(insert_query, (id1 + 1, place_type, underwear, c+1, i+1))
            connection.commit()
            id1 += 1
            c += 1
        
    
    # Выполнение команды: это создает новую таблицу
except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
    

    

stations = pd.read_csv('StationNames.csv', usecols = ['stations'])
city1 = pd.read_csv('city.csv')
city2 = city1['Город']
city = [city2[random.randint(0, len(city2) - 1)] for i in range(len(stations))]
country = ['Россия', 'Белоруссия', 'Узбекистан', 'Таджикистан', 'Армения',
          'Грузия', 'Азербайджан', 'Малороссия', "Киргизия", 'Казахстан']
phone = ['89' + str(random.randint(0,999999999)) for i in range(len(stations))]
director = pd.read_csv('name.csv', usecols = ['name'])
timezone = ['МСК+0', 'МСК+1','МСК+1', 'МСК+3', 'МСК+4', 'МСК+5']

try:
    
    
    for i in range(len(stations)):
        insert_query = """INSERT INTO Station (id, stname, 
                city, way, 
                country, phone, 
                director, timezone) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""
        stations1 = stations.iloc[i]
        director1 = director.iloc[i]
        cursor.execute(insert_query, (i + 1, stations1[0], city[i], random.randint(2,5),
                        random.choice(country), phone[i], director1[0], random.choice(timezone)))
        connection.commit()
    # Выполнение команды: это создает новую таблицу
except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
    


F = 300 #количество рейсов
flnumber = [random.randint(100, 999) for i in range(F)]
total_stop = []
dep_date = [random_date1(datetime.datetime(2023,1,1), 
                        datetime.datetime(2024,1,1)) + timedelta(hours=random.randint(0,23),minutes=random.randint(0,59)) for i in range(F)]
try:
    # Подключиться к существующей базе данных
    
    for i in range(F):
        driver = director.iloc[i]
        n = random.randint(3, 8) #количестов остановок рейса
        total_stop.append(n)
        insert_query = """INSERT INTO Flight (id, flnumber, 
                driver, total_stop, 
                train_id) VALUES (%s, %s, %s, %s, %s)"""
        cursor.execute(insert_query, (i + 1, 
                                      flnumber[i],
                                      driver[0],
                                      n, 
                                      random.randint(1,N)))
    cursor.execute("""select * from Flight""")
    flight = cursor.fetchall() # таблица рейсов
    connection.commit()
    # Выполнение команды: это создает новую таблицу
except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL Flight", error)
    

    

stop_id = 0
stoptime = [datetime.timedelta(minutes=2), datetime.timedelta(minutes=5), 
            datetime.timedelta(minutes=7)]
try:
    # Подключиться к существующей базе данных
    #TODO NULL на краевых  станциях
    for i in range(F):
        dep = dep_date[i]
        arrive = dep_date[i]
        station_id = random.sample(range(1,len(stations) + 1), total_stop[i])
        for k in range(total_stop[i]):
            if k == 0:
                insert_query = """INSERT INTO Stop (id, stnumber, 
                    waytime, stoptime, flight_id, waynumber,
                    station_id, dep_date, arrive_date) VALUES (%s, %s, %s, 
                    %s, %s, %s, %s, %s, %s)"""
                cursor.execute(insert_query, (stop_id + 1, k+1, datetime.timedelta(0),
                                              datetime.timedelta(0),
                                              i+1,
                                              random.randint(1,5),
                                             station_id[k],dep,arrive))
                stop_id += 1
                connection.commit()
            elif k != total_stop[i] - 1:
                waytime = datetime.timedelta(days=random.randint(0,1),
                                            hours=random.randint(0,24),
                                             minutes=random.randint(0,60))
                stop = random.choice(stoptime)
                arrive = dep + waytime
                dep = stop + arrive
                insert_query = """INSERT INTO Stop (id, stnumber, 
                    waytime, stoptime, flight_id, waynumber,
                    station_id, dep_date, arrive_date) VALUES (%s, %s, %s, 
                    %s, %s, %s, %s, %s, %s)"""
                cursor.execute(insert_query, (stop_id + 1, k+1,waytime,stop,i+1,
                                              random.randint(1,5),
                                              station_id[k],dep,arrive))
                stop_id += 1
                connection.commit()
            else:
                waytime = datetime.timedelta(days=random.randint(0,1),
                                            hours=random.randint(0,24),
                                             minutes=random.randint(0,60))
                stop = datetime.timedelta(0)
                arrive = dep + waytime
                dep = arrive
                insert_query = """INSERT INTO Stop (id, stnumber, 
                    waytime, stoptime, flight_id, waynumber,
                    station_id, dep_date, arrive_date) VALUES (%s, %s, %s, 
                    %s, %s, %s, %s, %s, %s)"""
                cursor.execute(insert_query, (stop_id + 1, k+1, waytime,stop,i+1,
                                              random.randint(1,5),station_id[k],
                                              dep,arrive))
                stop_id += 1
                connection.commit()
                


    # Выполнение команды: это создает новую таблицу
except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL Stop", error)

T = 3000
ticket_id = 0
try:
    for i in range(0, T):
        ticket_id+=1 #задаем айди
        flight_id = random.randint(1, F) #задаем номер рейса
        insert_query = """SELECT id, stnumber, station_id FROM Stop WHERE flight_id = %s ORDER BY stnumber"""# получаем станции в рейсе по порядку
        cursor.execute(insert_query, (flight_id,))
        st_array = cursor.fetchall() #массив станций
        dep = random.randint (1, st_array[-1][1] - 1) # случайные номера станций по порядку в пределах возможных
        dest = random.randint(dep+1, st_array[-1][1])
        dep_id = st_array[dep-1][2]# получаем айди выбранных станций
        dest_id = st_array[dest-1][2]
        insert_query = """SELECT f.Id, p.Id FROM Flight AS f 
        JOIN Train AS t ON f.train_id = t.id
        JOIN Van AS v ON t.id = v.train_id
        JOIN Place AS p ON v.id = p.van_id
        WHERE f.id = %s
        ORDER BY p.id""" # айди всех мест для рейса
        cursor.execute(insert_query, (flight_id, ))
        pl_array = cursor.fetchall()# собираем массив кортежей айди рейса и айди мест
        place_id = random.randint( pl_array[0][1], pl_array[-1][1])#выбираем 
        passenger_id = random.randint(1, P)#
        insert_query = """SELECT dep_date, stnumber FROM Stop WHERE id = %s ORDER BY stnumber"""#
        cursor.execute(insert_query, (flight_id,))
        dates = cursor.fetchall()#
        dest_date = dates[-1][0]
        dep_date = dates[0][0]
        waytime  = dest_date - dep_date
        insert_query = """SELECT vannumber, place_number, place_type 
        FROM Place 
        JOIN Van ON Place.van_id=Van.id WHERE Place.id = %s""" #d
        cursor.execute(insert_query, (place_id,))
        vannumber, place, place_type = cursor.fetchall()[0]#
        price = random.randint(1000, 4500)

             
        insert_query = """INSERT INTO Ticket (id, place, van,
                    price, place_type, arrive_date, passenger_id,
                    flight_id, departure_id, arrive_id, place_id, dep_date) VALUES (%s, %s, %s, 
                    %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
        cursor.execute(insert_query, (ticket_id, place, vannumber, price,place_type,dest_date,
                                    passenger_id,
                                    flight_id,
                                    dep_id,
                                    dest_id,
                                    place_id,
                                    dep_date))
        connection.commit()
    

except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL Ticket", error)

# try:
#     # Подключиться к существующей базе данных
#     connection = psycopg2.connect(user="azonchic",
#                                   # пароль, который указали при установке PostgreSQL
#                                   password="rgdbaza",
#                                   host="127.0.0.1",
#                                   port="5432",
#                                   database="rgd")

#     # Создайте курсор для выполнения операций с базой данных
#     cursor = connection.cursor()
#     for i in range(F):
#         fl = flight[i]
#         train = fl[5]
#         insert_query = """INSERT INTO Ticket (id,place,van,price,
#         place_type,arrive_date,passenger_id,
#         flight_id,departure_id,arrive_id,place_id,dep_date) VALUES (%s, %s, 
#         %s, %s, %s, %s,%s,%s,%s,%s,%s,%s)"""
#         cursor.execute(insert_query, (i + 1, ,)
#     cursor.execute("""select * from Flight""")
#     connection.commit()
#     # Выполнение команды: это создает новую таблицу
# except (Exception, Error) as error:
#     print("Ошибка при работе с PostgreSQL", error)
# finally:
#     if connection:
#         cursor.close()
#         connection.close()
#         print("Соединение с PostgreSQL закрыто")


if connection:
    cursor.close()
    connection.close()
    print("Соединение с PostgreSQL закрыто")

Соединение с PostgreSQL закрыто

[78, 56, 95, 98]
4

In [1]:
import pandas as pd
df = pd.read_csv('city.csv')
print(df.head())

     Индекс Тип региона     Регион Тип района Район Тип города          Город  \
0  385200.0        Респ     Адыгея        NaN   NaN          г       Адыгейск
1  385000.0        Респ     Адыгея        NaN   NaN          г         Майкоп
2  649000.0        Респ      Алтай        NaN   NaN          г  Горно-Алтайск
3  658125.0        край  Алтайский        NaN   NaN          г         Алейск
4  656000.0        край  Алтайский        NaN   NaN          г        Барнаул

  Тип н/п  Н/п      Код КЛАДР  ... Уровень по ФИАС  \
0     NaN  NaN   100000200000  ...        4: город
1     NaN  NaN   100000100000  ...        4: город
2     NaN  NaN   400000100000  ...        4: город
3     NaN  NaN  2200000200000  ...        4: город
4     NaN  NaN  2200000100000  ...        4: город

  Признак центра района или региона    Код ОКАТО     Код ОКТМО  Код ИФНС  \
0                                 0  79403000000  7.970300e+10       107
1                                 2  79401000000  7.970100e+10       105
2                                 2  84401000000  8.470100e+07       400
3                                 0   1403000000  1.703000e+06      2201
4                                 2   1401000000  1.701000e+06      2200

   Часовой пояс     Широта    Долгота  Федеральный округ Население
0         UTC+3  44.878372  39.190172              Южный     12689
1         UTC+3  44.609827  40.100653              Южный    144055
2         UTC+7  51.958268  85.960296          Сибирский     62861
3         UTC+7  52.492091  82.779415          Сибирский     28528
4         UTC+7  53.348115  83.779836          Сибирский    635585

[5 rows x 21 columns]